/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.rnd
_ide_helper*
captainhook.config.json
services/soketi/config.json
deploy.config
ecosystem.config.js
ecosystem.config.js
test-reports/coverage-html/dashboard.html
test-reports/coverage-html/index.html
test-reports/coverage-html/Enums/dashboard.html
test-reports/coverage-html/Enums/index.html
test-reports/coverage-html/Enums/IssueStatus.php.html
test-reports/coverage-html/Events/AddVote.php.html
test-reports/coverage-html/Events/dashboard.html
test-reports/coverage-html/Events/HideVotes.php.html
test-reports/coverage-html/Events/index.html
test-reports/coverage-html/Events/IssueAdded.php.html
test-reports/coverage-html/Events/IssueCanceled.php.html
test-reports/coverage-html/Events/IssueDeleted.php.html
test-reports/coverage-html/Events/IssueOrderChanged.php.html
test-reports/coverage-html/Events/IssueSelected.php.html
test-reports/coverage-html/Events/RevealVotes.php.html
test-reports/coverage-html/Exceptions/dashboard.html
test-reports/coverage-html/Exceptions/Handler.php.html
test-reports/coverage-html/Exceptions/index.html
test-reports/coverage-html/Http/dashboard.html
test-reports/coverage-html/Http/index.html
test-reports/coverage-html/Http/Controllers/Controller.php.html
test-reports/coverage-html/Http/Controllers/dashboard.html
test-reports/coverage-html/Http/Controllers/index.html
test-reports/coverage-html/Http/Controllers/ProfileController.php.html
test-reports/coverage-html/Http/Controllers/Auth/AuthenticatedSessionController.php.html
test-reports/coverage-html/Http/Controllers/Auth/ConfirmablePasswordController.php.html
test-reports/coverage-html/Http/Controllers/Auth/dashboard.html
test-reports/coverage-html/Http/Controllers/Auth/EmailVerificationNotificationController.php.html
test-reports/coverage-html/Http/Controllers/Auth/EmailVerificationPromptController.php.html
test-reports/coverage-html/Http/Controllers/Auth/index.html
test-reports/coverage-html/Http/Controllers/Auth/NewPasswordController.php.html
test-reports/coverage-html/Http/Controllers/Auth/PasswordController.php.html
test-reports/coverage-html/Http/Controllers/Auth/PasswordResetLinkController.php.html
test-reports/coverage-html/Http/Controllers/Auth/RegisteredUserController.php.html
test-reports/coverage-html/Http/Controllers/Auth/VerifyEmailController.php.html
test-reports/coverage-html/Http/Middleware/Authenticate.php.html
test-reports/coverage-html/Http/Middleware/dashboard.html
test-reports/coverage-html/Http/Middleware/EncryptCookies.php.html
test-reports/coverage-html/Http/Middleware/index.html
test-reports/coverage-html/Http/Middleware/PreventRequestsDuringMaintenance.php.html
test-reports/coverage-html/Http/Middleware/RedirectIfAuthenticated.php.html
test-reports/coverage-html/Http/Middleware/TrimStrings.php.html
test-reports/coverage-html/Http/Middleware/TrustHosts.php.html
test-reports/coverage-html/Http/Middleware/TrustProxies.php.html
test-reports/coverage-html/Http/Middleware/ValidateSignature.php.html
test-reports/coverage-html/Http/Middleware/VerifyCsrfToken.php.html
test-reports/coverage-html/Http/Requests/dashboard.html
test-reports/coverage-html/Http/Requests/index.html
test-reports/coverage-html/Http/Requests/ProfileUpdateRequest.php.html
test-reports/coverage-html/Http/Requests/Auth/dashboard.html
test-reports/coverage-html/Http/Requests/Auth/index.html
test-reports/coverage-html/Http/Requests/Auth/LoginRequest.php.html
test-reports/coverage-html/Livewire/ArchivedSessions.php.html
test-reports/coverage-html/Livewire/ArchivedSessionView.php.html
test-reports/coverage-html/Livewire/CreateSession.php.html
test-reports/coverage-html/Livewire/dashboard.html
test-reports/coverage-html/Livewire/index.html
test-reports/coverage-html/Livewire/JiraImport.php.html
test-reports/coverage-html/Livewire/JoinSession.php.html
test-reports/coverage-html/Livewire/OwnerSessions.php.html
test-reports/coverage-html/Livewire/SessionManagement.php.html
test-reports/coverage-html/Livewire/SessionParticipants.php.html
test-reports/coverage-html/Livewire/UserSessions.php.html
test-reports/coverage-html/Livewire/UserVotes.php.html
test-reports/coverage-html/Livewire/Voting.php.html
test-reports/coverage-html/Livewire/VotingCards.php.html
test-reports/coverage-html/Livewire/VotingIssueList.php.html
test-reports/coverage-html/Livewire/Concerns/dashboard.html
test-reports/coverage-html/Livewire/Concerns/index.html
test-reports/coverage-html/Livewire/Concerns/ManagesSessions.php.html
test-reports/coverage-html/Livewire/Profile/dashboard.html
test-reports/coverage-html/Livewire/Profile/index.html
test-reports/coverage-html/Livewire/Profile/JiraCredentials.php.html
test-reports/coverage-html/Livewire/V2/dashboard.html
test-reports/coverage-html/Livewire/V2/index.html
test-reports/coverage-html/Livewire/V2/SessionPage.php.html
test-reports/coverage-html/Livewire/Voting/dashboard.html
test-reports/coverage-html/Livewire/Voting/index.html
test-reports/coverage-html/Livewire/Voting/Owner.php.html
test-reports/coverage-html/Livewire/Voting/Voter.php.html
test-reports/coverage-html/Models/dashboard.html
test-reports/coverage-html/Models/index.html
test-reports/coverage-html/Models/Issue.php.html
test-reports/coverage-html/Models/Session.php.html
test-reports/coverage-html/Models/User.php.html
test-reports/coverage-html/Models/Vote.php.html
test-reports/coverage-html/Providers/AppServiceProvider.php.html
test-reports/coverage-html/Providers/AuthServiceProvider.php.html
test-reports/coverage-html/Providers/BroadcastServiceProvider.php.html
test-reports/coverage-html/Providers/dashboard.html
test-reports/coverage-html/Providers/EventServiceProvider.php.html
test-reports/coverage-html/Providers/index.html
test-reports/coverage-html/Providers/RouteServiceProvider.php.html
test-reports/coverage-html/Providers/TelescopeServiceProvider.php.html
test-reports/coverage-html/Services/dashboard.html
test-reports/coverage-html/Services/index.html
test-reports/coverage-html/Services/JiraService.php.html
test-reports/coverage-html/Services/SessionService.php.html
test-reports/coverage-html/Services/VotingSessionService.php.html
test-reports/coverage-html/View/dashboard.html
test-reports/coverage-html/View/index.html
test-reports/coverage-html/View/Components/AppLayout.php.html
test-reports/coverage-html/View/Components/dashboard.html
test-reports/coverage-html/View/Components/GuestLayout.php.html
test-reports/coverage-html/View/Components/index.html
test-reports/coverage-html/_css/bootstrap.min.css
test-reports/coverage-html/_css/custom.css
test-reports/coverage-html/_css/nv.d3.min.css
test-reports/coverage-html/_css/octicons.css
test-reports/coverage-html/_css/style.css
test-reports/coverage-html/_icons/file-code.svg
test-reports/coverage-html/_icons/file-directory.svg
test-reports/coverage-html/_js/bootstrap.bundle.min.js
test-reports/coverage-html/_js/d3.min.js
test-reports/coverage-html/_js/file.js
test-reports/coverage-html/_js/jquery.min.js
test-reports/coverage-html/_js/nv.d3.min.js
