.dockerignore
.vscode
.aws
.gitlab
database
.deploy
vendor
packages
node_modules
storage
public
composer.lock
package-lock.json
resources/assets/fonts
**/*.example
**/*.testing
**/*.prettierignore
**/*.php
**/*.xml
**/*.ico
**/*.png
**/*.sh
**/*.ecs
**/*.sh
.gitlab-ci.yml
.prettierignore
.gitignore
phpstan.neon
**/.gitkeep
