includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    reportUnmatchedIgnoredErrors: false

    paths:
        - app
        - public
        - config
        - database
        - resources
        - routes
        - tests

    # The level 9 is the highest level
    level: 8

    excludePaths:
        - database/factories
        - routes/console.php
        - server.php (?)
        - vendor
        - tests/
        - database/migrations
        - _ide_helper.php (?)

    treatPhpDocTypesAsCertain: false

    # Ignore template covariance errors for Eloquent relations
    ignoreErrors:
        - '#Template type TDeclaringModel on class Illuminate\\Database\\Eloquent\\Relations\\.* is not covariant#'
        - '#Method .* return type with generic class Illuminate\\Database\\Eloquent\\Relations\\.* does not specify its types#'
