includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false

    paths:
        - app
        - public
        - config
        - database
        - resources
        - routes
        - tests

    # The level 9 is the highest level
    level: 8

    excludePaths:
        - %rootDir%/../../../database/factories
        - %rootDir%/../../../routes/console.php
        - %rootDir%/../../../server.php
        - %rootDir%/../../../vendor
        - %rootDir%/../../../tests/
        - %rootDir%/../../../database/migrations
        - %rootDir%/../../../_ide_helper.php

    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
